<%= bootstrap_form_for(@quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.number_field :pass_threshold %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
