<h1>Your quizzes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Quiz title</th>
      <th>Number of questions</th>
      <th>Total points</th>
      <th>Pass threshold</th>
      <th colspan="3">
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.name %></td>
        <td><%= quiz.questions.count %></td>
        <td><%= quiz.questions.inject(0) { |sum,q| sum + q.points } %></td>
        <td><%= quiz.pass_threshold %></td>
        <td><%= link_to "Show", quiz %></td>
        <td><%= link_to "Edit", edit_quiz_path(quiz) %></td>
        <td><%= link_to "Delete", quiz, method: :delete, data: { confirm: "Are you sure?" }, class: "delete_link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Quiz", new_quiz_path %>
