<h2>Quiz: <%= @quiz.name %></h2>
<p>
  <strong>Pass threshold:</strong>
  <%= @quiz.pass_threshold %>
</p>
<p>
  <strong>Allowed time to complete:</strong>
  <%= @quiz.allowed_time %>
</p>
<p>
  <strong>Is it possible to re-take the Quiz?:</strong>
  <%= @quiz.allow_retake ? "Yes" : "No" %>
</p>


<% if @quiz.questions.present? %>
<h2>Questions</h2>
<table  class="table">
  <thead>
    <th>
      Question Text
    </th>
    <th>
      Points
    </th>
    <th>
      Alternative 1
    </th>
    <th>
      Alternative 2
    </th>
    <th>
      Alternative 3
    </th>
    <th>
      Alternative 4
    </th>
    <th>
      Alternative 5
    </th>
    <th>
      Order
    </th>
    <th>
      &nbsp;
    </th>
  </thead>
<%= render @quiz.questions.order("sort_order") %>
</table>
<% end %>

<h2>Add a question:</h2>
<%= bootstrap_form_for([@quiz, question = @quiz.questions.build]) do |form| %>

  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:errors] && flash[:errors].any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error[0].humanize %> <%= error[1][0] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%
  question = flash[:question] if flash[:question]
%>

  <div class="field">
    <%= form.text_area :question_text, placeholder: "Enter your beautiful question here. For example: how many days are there in a year?", value: question["question_text"], cols: 50, rows: 10 %>
  </div>
<%
  for i in 1..5 do
%>
  <div class="field" style="margin-bottom: 25px;">
    <%= form.text_field "alt_#{i}".to_sym, value: question["alt_#{i}"], label: "Alternative #{i}" %>
    <%= form.check_box "check_#{i}".to_sym, { checked: question["check_#{i}"] == "1", label: "Correct (yes/no)", inline: true } %>
  </div>
<%
  end
%>
  <div class="field">
    <%= form.number_field :points, value: question["points"] %>
  </div>
  <div class="field">
    <%= form.number_field :sort_order, value: question["sort_order"] %>
  </div>

  <%= form.hidden_field :quiz_id, value: @quiz.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Edit", edit_quiz_path(@quiz) %> |
<%= link_to "Back", quizzes_path %>
